@charset "UTF-8";

:root {
    --Bg-color: #edf2f8;
    --Moderate-violet: #7440c7;
    --Very-dark-grayish-blue: #47556b;
    --Dark-Blue: #3d52a3;
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: #ffffff;
    --Black: #000000;
    --Light-gray: #cfcfcf;
    --Light-grayish-blue: #edf2f747;
    --Barlow-Semi-Condensed: 'Barlow Semi Condensed';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Barlow-Semi-Condensed);
}

/* Reusable classes */

.tw-card {
    display: grid;
    gap: 12px;
    margin: 1.5em;
    padding: 1.5em 1.8em;
    border-radius: 10px;
    box-shadow: 8px 8px 20px var(--Light-gray);
}

.tw-cardtop-grid {
    display: grid;
    height: 35px;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.tw-pic {
    grid-area: 1 / 1 / 3 / 2;
    width: 35px;
    border: 2px solid rgba(255, 255, 255, 0.316);
    border-radius: 50%;
}

.tw-name {
    grid-area: 1 / 2 / 2 / 3;
    color: var(--White);
    font-size: .8em;
    font-weight: 600;
}

.tw-name-black {
    grid-area: 1 / 2 / 2 / 3;
    color: var(--black);
    font-size: .8em;
    font-weight: 600;
}

.tw-verified {
    grid-area: 2 / 2 / 3 / 3;
    color: var(--White);
    opacity: 70%;
    font-size: .7em;
    font-weight: 500;
}

.tw-verified-black {
    grid-area: 2 / 2 / 3 / 3;
    color: var(--black);
    opacity: 70%;
    font-size: .7em;
    font-weight: 500;
}

.tw-title {
    color: var(--White);
    font-size: 1.3em;
    font-weight: 400;
}

.tw-title-black {
    color: var(--black);
    font-size: 1.3em;
    font-weight: 400;
}

.tw-testimonial {
    color: var(--White);
    opacity: 70%;
    font-size: .85em;
    font-weight: 300;
    line-height: 20px;
    padding-bottom: .5em;
}

.tw-testimonial-black {
    color: var(--black);
    opacity: 70%;
    font-size: .85em;
    font-weight: 300;
    line-height: 20px;
    padding-bottom: .5em;
}

/* End of Reusable Classes */

body {
    background-color: var(--Bg-color);
}

.principal {
    border-radius: 20px;
    margin: 0 auto;
}

.card01 {
    background: url('images/bg-pattern-quotation.svg') var(--Moderate-violet) top right no-repeat;
    background-position-x: 85%;
}

.card02 {
    background-color: var(--Very-dark-grayish-blue);
}

.card03, .card05 {
    background-color: var(--White);
}

.card04 {
    background-color: var(--Black);
}

.rodape {
    display: none;
    font-size: 1em;
    text-align: center;
    padding-bottom: 1em;
}

.rodape a {
    text-decoration: none;
    color: var(--Moderate-violet);
}

.rodape a:hover {
    text-decoration: underline;
    color: var(--Dark-Blue);
}

@media screen and (min-width: 1180px) {

    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;                
    }

    .principal {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        width: 1120px;
    }

    .tw-card {
        margin: .8em;
    }

    .card01 {
        grid-area: 1 / 1 / 2 / 3;
    }

    .card02 {
        grid-area: 1 / 3 / 2 / 4;
    }

    .card03 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .card04 {
        grid-area: 2 / 2 / 3 / 4;
    }

    .card05 {
        grid-area: 1 / 4 / 3 / 5;
    }

    .rodape {
        padding-bottom: 0;
    }
}